<%= form_tag(filter_search_payments_path, html: { class: "custom"}) do %>
   <div class="row">
     <div class="small-3 columns">
       <%= label_tag :account_filter, nil, class: "right inline"%>
     </div>
     <div class="small-4 columns end">
         <%= select_tag(:acct_filter, options_for_select(account_selector), :include_blank => true, :prompt => "Select an account", id: "filter-select") %>
     </div> 
   </div>
<% end %>

