<div class="icon-bar large-vertical four-up">
   <%= link_to(new_payment_path, class: "item") do %>
      <i class="fi-dollar"></i>
      <label>New Payment</label>
   <% end %>
   <%= link_to(payments_path, class: "item") do %>
      <i class="fi-dollar"></i>
      <label>Payments</label>
   <% end %>
</div>
