<% rows = (@payments.count / 5) + 1 %>
<% (1..rows).each do |row|  %>
   <div class="row">
      <div class="small-11 columns end">
         <ul class="large-block-grid-5">
            <% (0..4).each do |item| %>
               <% indx = ((row - 1) * 5) + item %>
              <li>
                 <% if @payments[indx] %>
                    <div class="panel">
                       <%= render partial: "payment_panel", locals: {pay: @payments[indx]}%>
                    </div>
                  <% end%>
              </li>
            <% end %>
         </ul>
      </div>
   </div>
<% end %>
