<div class="row">
   <div class="large-3 small-3 columns">
      <%= render "icon_bar"%>
   </div>
   <div class="large-9 small-9 columns">
      <div class="row">
         <div id="filter"></div>
      </div>
      <div class="row">
         <div id="payments">
            <%= render "payments"%> 
         </div>
      </div>
   </div>
</div>