<%= form_for([@payee, @account], html: { class: "custom"}) do |f| %>
   <div class="row">
     <div class="small-2 columns">
       <%= f.label :name, class: "right inline", title: "Name for the Account", data: {tooltip: true } %>
     </div>
     <div class="small-10 columns">
       <%= f.text_field :name, placeholder: "Name for the Account" %>
     </div> 
   </div>
   <div class="row">
     <div class="small-10 small-offset-2 columns">
       <%= f.submit 'Submit', :class => 'button small' %>
     </div>
   </div>
<% end %>