<div class="icon-bar large-vertical four-up">
   <%= link_to(new_payee_path, class: "item") do %>
      <i class="fi-widget"></i>
      <label>New Payee</label>
   <% end %>
   <%= link_to(payees_path, class: "item") do %>
      <i class="fi-torso"></i>
      <label>Payees</label>
   <% end %>
</div>
