<table>
  <thead>
    <tr>
      <th>Payee</th>
      <th>Action</th>
    </tr>
  </thead>
   <tbody>
      <% @payees.each do |payee| %>
         <tr>
            <td><%= payee.name%>
               <dl class="sub-nav">   
                  <dt>Accounts</dt>
                  <% payee.accounts.each do |acct|%>
                     <dd class="active">acct.name</a></h4>
                  <% end %>
               </dl>      
               
            </td>
            
            <td>
               <%= link_to "edit", edit_payee_path(payee), class: "button"%>
               <%= link_to "New Account", new_payee_account_path(payee), class: "button"%>               
            </td>            
         </tr>
      <% end %>     
   </tbody>
</table>

